<div class="dropdown">
    <a data-toggle="dropdown" data-target="#">
        Select a Project <span class="caret"></span> 
    </a>

    <ul class="dropdown-menu">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">End-User-CP</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Chimera API</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Midphase Checkout</a>
        </li>
    </ul>
</div>

<% if (branches) { %>
<ul class="list">
    <% _.each(branches, function(model) { %>
    <li>
        <a href="/NotJenkins/branch/<%- model.branch_name %>" class="<%- sectionActive === model.branch_name? 'active' : "" %>">
            <h5><%- model.branch_title %></h5>
            <span class="label label-<%- model.status === "pass" ? "success" : "warning" %>"><%- model.status %></span>
        </a>
    </li>
    <% }); %>
</ul>
<% } %>

<h4>Open Pull Requests</h4>
<ul class="list">
    <% _.each(pull_requests, function(model) { %>
    <li>
        <a href="/NotJenkins/pull/<%- model.github_number %>" class="<%- sectionActive === model.github_number? 'active' : "" %>">
            <h5><%- model.github_title %></h5>
            <span class="label label-<%- model.status === "pass" ? "success" : "warning" %>"><%- model.status %></span>
            <span class="label label-<%- model.github_state === "open" ? "success" : "danger" %>"><%- model.github_state %></span>
            <span class="label label-default">#<%- model.github_number %></span>
        </a>
    </li>
    <% }); %>
</ul>
