<div class="well well-sm">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd>Add tooltips with transefer error messages, fix jshint errors to please Jenkins</dd>

      <dt>Description</dt>
      <dd>UI design for dedicated hosting, issue here</dd>

      <dt>Latest Build</dt>
      <dd>Passed</dd>

      <dt>Status</dt>
      <dd>Merged</dd>

      <dt>Commited By</dt>
      <dd>James Aitken</dd>

      <dt>Merged By</dt>
      <dd>James Aitken</dd>

      <dt>Commit ID</dt>
      <dd>a1fc5cc1ce361834323b6c9a</dd>
    </dl>
</div>