
<p>UI design for dedicated hosting, issue here</p>

<hr>

<div class="panel-group" id="accordion">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-bypass="true"> Build #1 Failed</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body table-responsive">
                <h4>JSHint Tests</h4>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-6">File</th>
                            <th>Error</th>
                            <th>Line</th>
                            <th>Col</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>/app/controlpanel/modules/home/home.views.js</td>
                            <td>'sharedHostingServices' is not defined</td>
                            <td>73</td>
                            <td>46</td>
                        </tr>
                        <tr>
                            <td>/app/controlpanel/modules/shared-hosting/shared-hosting.views.js</td>
                            <td>'view' is defined but never used</td>
                            <td>8888</td>
                            <td>88</td>
                        </tr>
                        <tr>
                            <td>/app/controlpanel/modules/shared-hosting/shared-hosting.model.js</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>

                <h4>CSSLint Tests</h4>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-6">File</th>
                            <th>Error</th>
                            <th>Line</th>
                            <th>Col</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-muted text-center">No Failures</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-bypass="true"> Build #2 Passed</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
